streaming-pipeline.kelash.me {
    encode gzip

    handle /airflow* {
        reverse_proxy airflow-webserver:8080
    }

    handle /metabase* {
        reverse_proxy metabase:3000
    }

    handle /api* {
        reverse_proxy stats-api:8000
    }

    handle {
        root * /srv/www
        file_server
    }

    log {
        output file /data/access.log {
            roll_size 10mb
            roll_keep 5
        }
    }
}
